<div class="row-fluid">
    <div class="col-xs-12 col-lg-12">
        <div id="ingredient_{{DisplayIndex}}" class="ingredient semantic-ingredient">{{DisplayQuantity}} {{Unit}} {{Name}} {{#if PreparationNotes}} <small>({{PreparationNotes}})</small>{{/if}}</div>
    </div>
</div>