<div class="row-fluid">
    <div class="col-lg-12">
        <p id="ingredient_{{DisplayIndex}}" class="text-ellipsis">{{DisplayQuantity}} {{Unit}} {{Name}} {{#if PreparationNotes}} <small>({{PreparationNotes}})</small>{{/if}}</p>
    </div>
</div>