<!--
<a id="summary-instruction-link">
    <div id="summary_instruction_{{index}}" class="row instruction semantic-summary-instruction" data-index="{{index}}">
        <div class="col-xs-12">
            <img id="summaryImage" class="pull-left unselectable img-rounded" src="{{imageURL}}" />
            <div id="summaryBody" class="media-body">
                <div id="summaryText"><b>{{index}}.</b> {{summary}}</div>
            </div>
        </div>
    </div>
</a>
-->

<a id="summary-instruction-link">
    <div id="summary_instruction_{{index}}" class="row instruction semantic-summary-instruction" data-index="{{index}}">
        <div class="col-xs-12 semantic-summary-column">
            <div class="semantic-summary"><span id="summary-select-indicator" class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><span id="step-num">{{index}}.</span> &nbsp; {{summary}}</div>
        </div>
    </div>
</a>