<div id="instruction_{{index}}" class="row instruction semantic-detail-instruction" data-index="{{index}}">

    <!--
    <div class="col-xs-12 semantic-column-body">
        <dl class="dl-horizontal">
            <dt class="list-number">{{index}}.</dt>
            <dd class="semantic-text">{{text}}</dd>
        </dl>
    </div>
    -->

    <div class="col-xs-1 list-number">
        <p>{{index}}.</p>
    </div>
    <div class="col-xs-11">
        <p class="semantic-text">{{text}}</p>
    </div>

</div>