<div id="instruction_{{index}}" class="row instruction semantic-detail-instruction" data-index="{{index}}">

    {{#if imageURL}}
        <div class="col-xs-12">
            <img id="instructionImage" class="pull-left unselectable img-rounded" src="{{imageURL}}" />
            <div id="detail-text" class="media-body">
                <!--<h4>Step {{stepndex}} of {{total}} </h4> -->
                <h3>{{stepIndex}}. </h3> {{text}}
            </div>
        </div>
    {{else}}
        <div class="col-xs-12">
            <p class="semantic-text"><b>{{stepIndex}}.</b> {{text}}</p>
        </div>
    {{/if}}

    <!--
    <div class="col-lg-12 col-xs-12 sbs-instruction">
        <p id="sbs-instruction-text">{{text}}</p>
        {{#if imageURL}}
            <img id="recipeImage" class="center-block unselectable img-responsive img-rounded" src="{{imageURL}}" />
        {{/if}}
    </div>

        <div class="col-xs-1 list-number">
            <p>{{index}}.</p>
        </div>
        <div class="col-xs-11">
            <p class="semantic-detail-summary">{{summary}}</p>
            <p class="semantic-text">{{text}}</p>
        </div>
    -->

</div>