<div class="row">

    <div id="left" class="col-lg-2">
        <div class="thumbnail shadow">
            <img id="recipeImage" class="unselectable img-responsive img-rounded" src="{{ImageURL}}" >
            <div class="caption text-center">
                <h4 class="title">{{Title}}</h4>
                <p class="small stats">{{TotalMinutes}} Min | {{YieldNumber}} {{YieldUnit}}</p>
                <!--
                <ul>
                    <li>{{YieldNumber}} {{YieldUnit}}</li>
                    <li>{{ActiveMinutes}}<small>m</small> Active</li>
                    <li>{{TotalMinutes}}<small>m</small> Total</li>
                </ul>
                -->
                <!--
                <p class="small">{{YieldNumber}} {{YieldUnit}} | {{TotalMinutes}} min.</p>
                -->
                <!-- <p class="small">{{Description}}</p> -->
            </div>
        </div>
    </div>

    <div id="mid" class="col-lg-4">
        <div class="panel shadow">
            <div class="panel-heading">Ingredients</div>
            <div id="ingredients-container" class="panel-body">

            </div>
        </div>
    </div>

    <div id="right" class="col-lg-6">
        <div class="panel shadow">
            <div class="panel-heading">Instructions</div>
            <div id="instruction-container" class="panel-body">
            </div>
        </div>
    </div>
</div>
