<div class="row">

    <div id="left" class="col-lg-2">
        <div class="thumbnail">
            <img id="recipeImage" class="unselectable img-responsive img-rounded" src="{{ImageURL}}" >
            <div class="caption text-center">
                <h5>{{Title}}</h5>
                <p class="small">{{TotalMinutes}} Min | {{YieldNumber}} {{YieldUnit}}</p>
                <!--
                <ul>
                    <li>{{YieldNumber}} {{YieldUnit}}</li>
                    <li>{{ActiveMinutes}}<small>m</small> Active</li>
                    <li>{{TotalMinutes}}<small>m</small> Total</li>
                </ul>
                -->
                <!--
                <p class="small">{{YieldNumber}} {{YieldUnit}} | {{TotalMinutes}} min.</p>
                -->
                <!-- <p class="small">{{Description}}</p> -->
            </div>
        </div>
    </div>

    <div id="mid" class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>INGREDIENTS</strong></div>
            <div id="ingredients-container" class="panel-body">

            </div>
        </div>
    </div>

    <div id="right" class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>INSTRUCTIONS</strong></div>
            <div id="instruction-container" class="panel-body">

            </div>
        </div>
    </div>
</div>
