<div class="row">

    <div id="left" class="col-lg-2 text-center">
        <div class="thumbnail shadow">
            <img id="recipeImage" class="unselectable img-responsive img-rounded" src="{{ImageURL}}" >
            <div class="caption">
                <h4 class="title">{{Title}}</h4>
                <p class="small stats">{{TotalMinutes}} Min | {{YieldNumber}} {{YieldUnit}}</p>
            </div>
        </div>
        <button id="done" type="button" class="btn btn-lg btn-full-width">Done</button>
    </div>

    <div id="mid" class="col-lg-4">
        <div class="panel">
            <div class="panel-heading plain-panel-heading">Ingredients</div>
            <div id="ingredients-container" class="panel-body plain-panel-body">

            </div>
        </div>
    </div>

    <div id="right" class="col-lg-6">
        <div class="panel">
            <div class="panel-heading plain-panel-heading text-center">Instructions</div>
            <div id="instruction-container" class="panel-body plain-panel-body">
            </div>
        </div>
    </div>
</div>
