<div class="col-lg-6 col-lg-offset-3">
    <div class="jumbotron text-center">
        <img id="recipeImage" class="center-block unselectable img-responsive img-rounded" src="{{ImageURL}}" />
        <h2>{{Title}} <small>({{Category}})</small></h2>
        <p>{{Description}}</p>
        <p><a id="continue" class="btn btn-primary btn-lg" href="javascript:" role="button">Continue</a></p>
        <!-- <button id="continue" type="button" class="btn btn-default pull-right">Continue</button> -->
    </div>
</div>

<!--
<div id="left" class="col-lg-5">
    <img id="recipeImage" class="unselectable img-responsive" src="{{ImageURL}}" />
</div>

<div id="right" class="col-lg-7">

    <div class="row">
        <h1>{{Title}}</h1>
        <p>{{Description}}</p>
    </div>

    <div class="row">
        <button id="continue" type="button" class="btn btn-default pull-right">Continue</button>
    </div>

</div>
-->