<div id="semantic-container" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
    <div id="semantic-row" class="row">

        <div id="left" class="hidden-xs hidden-sm hidden-md col-lg-2 text-center">
            <div class="thumbnail shadow">
                <img id="recipeImage" class="unselectable img-responsive img-rounded" src="{{ImageURL}}" >
                <div class="caption">
                    <h4 class="title">{{Title}}</h4>
                    <p class="small stats">{{TotalMinutes}} Min | {{YieldNumber}} {{YieldUnit}}</p>
                </div>
            </div>
            <button id="done" type="button" class="btn btn-lg btn-full-width">Done</button>
        </div>

        <div id="mid" class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
            <!-- <h1 class="semantic-column-title-instructions">Instructions</h1> -->
            <div id="pre-instruction-viewport">
                <!-- <div class="bottom bottom-fade"></div> -->
                <div id="pre-instruction-container" class=""></div>
            </div>
            <div id="instruction-viewport" data-spy="scroll">
                <!-- <div class="top top-fade"></div> -->
                <!-- <div class="bottom bottom-fade"></div> -->
                <div id="instruction-container" class="invisible">
                </div>
            </div>
            <div id="post-instruction-viewport">
                <!-- <div class="top top-fade"></div> -->
                <div id="post-instruction-container" class="">
                </div>
            </div>
        </div>

        <div id="right" class="hidden-xs col-sm-3 col-md-4 col-lg-4">
            <!-- <h1 class="semantic-column-title">Ingredients</h1> -->
            <div id="ingredients-container">

            </div>
        </div>

    </div>
</div>
